@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------- */
/* Global Styling */
/* ------------- */

@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap);

@font-face {
  font-family: "Cera-Pro-Bold";
  src: url("/fonts/Cera-Pro-Bold.woff") format("woff"),
    url("/fonts/Cera-Pro-Bold.woff2") format("woff2"),
    url("/fonts/Cera-Pro-Bold.eot"),
    url("/fonts/Cera-Pro-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Cera-Pro-Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.bg-primary{
  background-color: #04FF00;
}
.text-cs{
  font-weight: 400;
    font-size: 15px;
    margin-top: 24px;
}
input.form-textbox{
  border-bottom: 2px solid #04FF00 !important;
}
body::-webkit-scrollbar {
  display: none;
}
.bg-pink{
  background-color: #F902A1;
}
.menu-btn:hover{
  background-color: #04FF00;
}
.text-pink{
  color: #F902A1;
}
.text-primary{
  color: #04FF00 !important;
}
.border-primary{
  border-color: #04FF00 !important;
}
::-webkit-scrollbar {
  display: none;
}
.hover\:text-primary:hover{
  color: #04FF00 !important;
}
.hover\:border-primary:hover {
  border-color: #04FF00 !important;
}
.AdeoCursor {
  z-index: 999;
}

.grow-cursor {
  transform: scale(4) !important;
}

.blend-cursor {
  mix-blend-mode: difference;
}

.btn-cursor {
  opacity: 0 !important;
  transition: opacity 1s;
}

.orange-scale {
  width: fit-content;
  height: fit-content;
}

.btn-scale:hover line {
  stroke: #04FF00;
  transition: stroke 1s;
}

.text-outline {
  color: transparent;
  font-weight: 900;
  -webkit-text-strokeWidth: 0.5px;
  -webkit-text-stroke-color: white;
}

.scroll-container {
  overscroll-behavior: none;
  width: 800%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.scroll-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  flex-direction: column;
  padding: 0;
  height: 100vh;
  width: 100vw;
}
#content-creation{
  display: none;
}
@media only screen and (max-width: 768px) {
  #panel-3 img{
    object-fit: contain;
  }
  #content-creation{
    display: block;
  }
  .set-bg{
    height: 450px;
  }
  .bg-content{
    padding: 20px;
  }
  .set-h-img{
    height: 210px;
    background-size: 100% !important;
  }
}
@media only screen and (max-width: 1024px) {
  .scroll-container {
    overscroll-behavior: auto;
    display: block;
    width: 100% !important;
  }
  
  .scroll-panel {
    display: block !important;
    height: auto !important;
  }
}

.fade-out-text,
.fade-out-text-2 {
  color: white !important;
}

.bg-imagination {
  background-image: url(/img/imagination.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-software {
  background-image: url(/img/software.jpg);
  background-position: 0px bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-creation {
  background-image: url(/img/creation.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-creation-mobile {
  background-image: url(/img/creation.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
}

.bg-marketing {
  background-image: url(/img/marketing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
}

.bg-marketing-mobile {
  background-image: url(/img/marketing.jpg);
  background-size: 250%;
  background-repeat: no-repeat;
  background-position: 0% center;
}

.nav-icon #Shape_2 {
  animation: resetRotate 0.6s ease-in-out;
  animation-fill-mode: forwards;
}

.nav-icon:hover #Shape_2 {
  animation: rotate 0.6s ease-in-out;
  animation-fill-mode: forwards;
}

@media only screen and (max-width: 1024px) {
  .nav-icon #Shape_2, .nav-icon:hover #Shape_2 {
    animation: none;
    transform: translate(0px, 9.959px) rotate(0deg);
  }
  .btn-scale:hover line {
    stroke: #fff;
    transition: stroke 1s;
  }
}

@keyframes rotate {
  0% {
    transform: translate(0px, 3.959px) rotate(30deg);
  }
  100% {
    transform: translate(0px, 9.959px) rotate(0deg);
  }
}

@keyframes resetRotate {
  0% {
    transform: translate(0px, 9.959px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 3.959px) rotate(30deg);
  }
}

/* ---------------- */
/* Page Transition */
/* -------------- */

.load-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 999;
  pointer-events: none;
}

.load-screen {
  position: relative;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #ff5000;
  width: 100%;
  height: 0%;
}

/* -------------------- */
/* Video Modal Styling */
/* ------------------ */

@keyframes modal-video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-video-inner {
  from {
    transform: translate(0, 100px);
  }
  to {
    transform: translate(0, 0);
  }
}

.modal-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000000;
  cursor: pointer;
  opacity: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

.modal-video-effect-exit {
  opacity: 0;
}

.modal-video-effect-exit .modal-video-movie-wrap {
  -webkit-transform: translate(0, 100px);
  -moz-transform: translate(0, 100px);
  -ms-transform: translate(0, 100px);
  -o-transform: translate(0, 100px);
  transform: translate(0, 100px);
}

.modal-video-body {
  max-width: 1480px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.modal-video-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (orientation: landscape) {
  .modal-video-inner {
    padding: 10px 60px;
    box-sizing: border-box;
  }
}

.modal-video-movie-wrap {
  width: 100%;
  height: 0;
  position: relative;
  padding-bottom: 56.25%;
  background-color: #333;
  animation-timing-function: ease-out;
  animation-duration: 0.3s;
  animation-name: modal-video-inner;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -ms-transition: -ms-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal-video-movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-video-close-btn {
  position: absolute;
  z-index: 2;
  top: -45px;
  right: 0px;
  display: inline-block;
  width: 35px;
  height: 35px;
  overflow: hidden;
  border: none;
  background: transparent;
}

@media (orientation: landscape) {
  .modal-video-close-btn {
    top: 0;
    right: -45px;
  }
}

.modal-video-close-btn:before {
  transform: rotate(45deg);
}

.modal-video-close-btn:after {
  transform: rotate(-45deg);
}

.modal-video-close-btn:before,
.modal-video-close-btn:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  top: 50%;
  left: 0;
  margin-top: -1px;
  background: #fff;
  border-radius: 5px;
  margin-top: -6px;
}
.mt-150{
  margin-top: 150px
}
/* ------------------------ */
/* Custom Theme Components */
/* ---------------------- */

@layer components {
  .bullet {
    @apply border-l-2 border-white bg-white py-0.5 text-xs text-black font-bold min-h-[20px] w-fit overflow-hidden;
  }

  .bulletIndex {
    @apply duration-300 ease-in-out px-3.5;
  }

  .menu-btn {
    @apply border border-white p-10 !h-full !w-full flex items-center relative hover:bg-primary duration-300 ease-in-out text-left overflow-hidden;
  }

  .btn-box-p {
    @apply font-secondary text-primary text-2xl font-light duration-300 ease-in-out;
  }

  .btn-box-h4 {
    @apply px-10 font-primary text-white text-2xl xl:text-3xl 2xl:text-4xl;
  }

  .btn-box-svg {
    @apply absolute bottom-5 right-5 opacity-0 duration-300 ease-in-out;
  }
}
